<h1>EAT-DA-BURGER!</h1>

<h2>Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devours=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devours=false}}
    {{/if}}
  {{/each}}
</ul>

<input type="text" id="burger">
<button id="addBurger">new burger</button>

 
