body{
  background-image: url("../images/burgeryum.png");
  background-repeat: repeat;
  background-size: 100px 100px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#leftside {
  background-color:indigo;
  color:limegreen;
  text-align: center;
  font-size: 1.3em;
  float: left;
  height:50%;
  width:40%;
  margin-top: 10%;
  margin-left:5%;
}

#rightside {
  background-color: indigo;
  color: limegreen;
  text-align: center;
  font-size: 1.3em;
  float:right;
  height:50%;
  width:40%;
  margin-top: 10%;
  margin-right:5%;
}

h1{
  color:indigo;
  background-color: lawngreen;
  text-align: center;
}

.new-burger{
  height:50%;
  width:50%;
  background-color: limegreen;
  text-align: center;
  justify-content: center;
  margin-left:25%;
  padding:30px;
}

#burger{
  padding:15px;
}

#addBurger{
  height:15%;
  width:30%;
  padding:15px;
}